{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>eRAMS 2.0 - er2_hru_tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'er2_hru_tool/node_modules/leaflet/dist/leaflet.css' %}?v={{ version }}" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" />
    <link href="https://mapskincdn.appspot.com/1.0/mapskin.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <style>
        @font-face {
            font-family: "Raiders";
            src: url({% static 'er2_hru_tool/fonts/raiders/raiders.ttf' %}) format("truetype");
        }
    </style>
</head>
<body style="margin: 0">
    <div id="root" />
</body>
    <script src="https://use.fontawesome.com/b911bcf9e2.js"></script>
    <script type="text/javascript" src="{% static 'er2_hru_tool/dist/index.min.js' %}?v={{ version }}"></script>
</html>